li.dropdown
  a.dropdown-toggle(data-toggle="dropdown", href="#") 
    i.fa.fa-flag &nbsp;#{__('language')}
    ul.dropdown-menu
      li
        a(href="/en", title="English") English
      li
        a(href="/zh-cn", title="Chinese Simplified") 中文简体
      li
        a(href="/zh-tw", title="Chinese Traditional") 中文繁體
      li
        a(href="/ko", title="Korean") 한국어


        
