extends ../../layouts/default

block main
  h1 Privacy Policy
  br

block content
  p
    | This is the Privacy Policy of the game Inc. website located at www.game.co (together with our affiliates and subsidiaries,
    strong “game”
    | ,
    strong “we”
    | ,
    strong “us”
    | ,
    strong “our”
    | and terms of similar meaning) and our related products and services (the
    strong “Site”
    | ). It describes the information that we collect from users of our Site (
    strong “Users”
    | ) as part of the normal operation of our Site, and how we use and disclose this information.
  p
    | By accepting the Privacy Policy in registration, by visiting and using the Site or by otherwise providing us with your personal information, you expressly consent to our collection, and disclosure of your personal information in accordance with this Privacy Policy as it may be amended from time to time. This Privacy Policy is incorporated into and subject to our
    a(href='/terms') Terms of Use
  p
    b YOU MUST BE 13 YEARS OF AGE OR OLDER TO USE THIS SITE.
  p
    | IF YOU ARE 13 YEARS OF AGE OR OLDER AND ARE A MINOR, YOU MUST HAVE PERMISSION FROM YOUR PARENT OR GUARDIAN TO USE THE SITE. IF YOU DO NOT HAVE PERMISSION FROM YOUR PARENT OR GUARDIYOU MAY NOT USE THE SITE.
  br
  h4 What Personal Information Do We Collect?
  p
    | Our primary purpose in collecting personal information from you is to provide you with a safe, smooth, efficient, and a customized experience. This allows us to provide services features that you request, and to customize our service to make your experience safer and easier. We only collect personal information about you that we consider necessary for achievthis purpose.
  p
    | In general, you can browse the Site without telling us who you are or revealing any personal information about yourself. In order for you to become a registered User, we require youprovide various contact and identity information and other personal information as indicated on the relevant forms on the Site, and you are no longer anonymous to us. Where possible,these forms we indicate which fields are required and which fields are optional. In addition, as you use the Site, you can from time to time enter or send to us personal information.
  p
    | You always have the option not to provide personal information by choosing not to become a User or by not using the particular feature of the Site for which the personal informationbeing collected.
  p
    | We also automatically track certain information about you based upon your behaviour on our Site. We use this information to do internal research on our Users' demographics, interesand behaviour to better understand, protect and serve you and our community. This information may include the URL that you just came from (whether this URL is on our Site or not), whURL you next go to (whether this URL is on our Site or not), your computer browser information, your IP address and your location. These logs do not record personally identifiainformation, and are only used to track visits to our site and improve its content and layout.
  p
    | “Cookies” are small files placed on your hard drive that assist us in providing our services. We use cookies to allow you to enter your password less frequently during a session, anduse data collection devices (such as Google Analytics), including cookies, on certain pages of the Site to help analyze our web page flow, measure promotional effectiveness, and promtrust and safety, to offer certain features that are only available through the use of a cookie and to allow us to provide information that is targeted to your interests. If you wishdisable cookies, refer to your browser help menu to learn how to disable cookies. Please note that if you disable cookies, you may be unable to access some customized features on twebsite.
  p
    | Following your registration on the Site, you can review and change your information in your account area.
  br
  h4 How We Use Your Information
  p
    | We use personal information in the file we maintain about you, and other information we obtain from your current and past activities on the Site, to:
  ul.help
    li provide to you the services offered by the Site;
    li resolve service disputes;
    li troubleshoot problems;
    li customize your experience based on the preferences you have selected;
    li detect and protect us against error, fraud and other criminal activity;
    li
      | enforce our
      a(href='/terms') Terms of Use
      | ;
    li
      | provide you with system or administrative messages, and otherwise engage in correspondence with us; and
    li as otherwise described to you at the time of collection.
  p
    | By providing us with your personal information, you are deemed to have consented to above-noted uses of your personal information.  If you withdraw your consent, we may not be ableprovide you with the services that you have requested.
  p
    | In addition to the above primary purposes, we may also use personal information about you for secondary purposes which are aimed to improve our marketing and promotional efforts, to:
  ul.help
    li
      | analyze Site usage, to improve our content and product offerings, and to customize the Site's content, layout, and services. These uses improve the Site and better tailor it to myour needs, so as to provide you with a smooth, efficient, safe and customized experience while using the Site;
    li
      | inform you about online and offline offers, products, services, events and updates;
    li
      | deliver information to you that, in some cases, is relevant to your interests, such as product news; and
    li measure consumer interest in our products and services.
  br
  h4 Our Disclosure of Your Personal Information
  p
    | We will not sell or rent your personal information to third parties without your explicit consent. The following describes some of the ways that your information may be disclosed in normal scope of business to provide our services:
  p
    i Anonymized Aggregated Data.
    | We aggregate and anonymize data and use and disclose such information for a variety of purposes, including to measure Site analytics. However, in these situations, we do not disclose information that could be used to identify you personally.  We will not facilitate the merging of personally-identifiable information with non-personally identifiable information unlesshave given you notice of and have obtained your express consent to ‘opt-in’ to such merger.
  p
    i Public Areas of the Site.
    | All of your activities in the public areas of the Site will be identifiable to your User ID, and other people can see your published content.
  p
    i Legal Requests; Emergencies; Jurisdictions.
    | We cooperate with law enforcement inquiries and demands for information that are made under force of law. We are also cognizant of the need to address emergencies. Therefore, we disclose your personal information (a) to any governmental authority as part of an investigation to determine our compliance with any applicable law, rule, or regulation (including privlaws, rules, and regulations), (b) in response to a court order, subpoena, discovery request, or other lawful judicial or administrative proceeding, (c) as otherwise required under applicable law, rule, or regulation, and (d) in good faith, to protect or defend our rights or property or those of other Users. Finally, please note that in some cases, persoinformation that we collect may be stored or processed outside of Canada whose data protection laws may differ from the jurisdiction in which you live. In such cases, we will continueprotect the information with appropriate safeguards and use reasonable efforts to ensure that appropriate protections are in place, but you acknowledge that your personal information be subject to the governments, courts, law enforcement officials, national security authorities and laws of those countries.
  p
    | We may also disclose personal information to any acquiror or its agents in the course of the sale or merger of our business. If we do this, the disclosure will be subjectconfidentiality arrangements customary in such transactions.
  br
  h4
    | Subsidiaries and Affiliates; Service Providers and Google Analytics Display Advertising
  p
    | We may from time to time use the services of affiliates, subsidiaries and unrelated service providers in the operation of the Site, and may disclose personal information to them in course of our use of their services. For example, we may use the services of third-party hosting companies to host the operation of the Site. This may involve the hosting of daincluding personal information, on servers operated by those hosting companies. These entities may use your personal information solely in conjunction with the specific services tprovide for us.  We ensure that any such third party service providers agree to handle any personal information provided to them strictly in accordance with this Privacy Policy andotherwise maintain the same or better policies of privacy protection.
  p
    | game has engaged Google to provide various services and features and has implemented the following
    i Google Analytics Display Advertising
    | (“GADA”) features:
  ul.help
    li
      | Remarketing – game uses Remarketing with GADA to advertise online.  Third party vendors, including Google, may show our ads on sites across the Internet.  game, third party vendoincluding Google, use first-party cookies (such as the Google Analytics cookie) and third party cookies (such as the DoubleClick cookie) together to inform, optimize, and serve ads baon your past visits to our website (collectively, “Google Cookies”).
    li
      | Google Display Network Impression Reporting (“GDNIR”) – game and third party vendors, including Google, use Google Cookies to report how game’s ad impressions, other uses ofservices, and interactions with these ad impressions and ad services are related to visits to the game site.   Essentially, game uses GDNIR to figure out which ads that we ran brouyou onto our site and GDNIR also reports back to us with tracking information regarding the ads displayed on our site and how you interacted with them.
    li
      | DoubleClick Campaign Manager Integration (“DCCM”) – game may use DCCM from time to time to purchase ads and to work in conjunction with game’s use of GDNIR.
    li
      | Google Analytics Demographics and Interest Reporting (“GADIR”) – game uses GADIR to access Google’s vast network to make ‘best guesses’ based on your history of interactions on Google network and to determine which user demographic you might belong to.
  p
    | Ultimately, game uses the above tools to anonymously profile your use of the game site in order to offer you a more relevant and customized user experience.
  p
    | For further information about GADA and for currently available opt-outs for the web, please click the following link:
  p
    a(href='https://support.google.com/analytics/answer/2700409?hl=en', target='_blank') https://support.google.com/analytics/answer/2700409?hl=en
  p
    | Of course, you can also always contact us using the information provided at the end of this Privacy Policy.
  br
  h4 Our Retention of Your Personal Information
  p
    | We retain personal information for only as long as required to fulfill the identified purposes for which it was collected, and for a reasonable time thereafter, or as required by lgame has retention standards, which meet these requirements. game destroys your personal information when it is no longer needed, or we remove your name from the information. We assno obligation or guarantee to archive any information and do not warrant that any archived information will later be made available to you beyond any applicable period of retentrequired by law.
  p
    | When you deactivate an account, it is permanently deleted from game. It typically takes about one month to deactivate an account, but some information may remain in backup copies logs for up to 120 days. Once you deactivate your account it cannot be reversed.
  p
    | For greater clarity, trips, parcels, transactions and certain other information sent to Users may remain on the Site after you deactivate your account.
  br
  h4 Security
  p
    | game strives to protect your personal information against unauthorized access, disclosure, inappropriate alteration and misuse.  Any personal information residing on game hardwarein hard copy format is maintained in secure facilities and is only accessible by such personnel authorized to handle this information, in accordance with this Privacy Policy.  For securof transactions, we use the Secure Sockets Layer (SSL) protocol, which encrypts any personal information you enter into registration forms on the Site. The encryption process protects yinformation, by scrambling it before it is sent to us from your computer. We also make commercially reasonable effort to ensure the security of your personal information on our systUnfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, we make no warranties as to the security of any information that you submit toelectronically, which you do at your own risk.
  br
  h4 Other Information Collectors
  p
    | Except as otherwise expressly included in this Privacy Policy, this policy only addresses the use and disclosure of personal information that we collect from you. To the extent that disclose your information to other parties through the Site, different rules may apply to their use, collection and disclosure of the personal information you disclose to them. Since wenot control the information use, collection or disclosure policies of third parties, you are subject to their privacy policies. We encourage you to ask questions before you disclose ypersonal information to others.
  br
  h4 Changes to this Privacy Policy
  p
    | We reserve the right to change or replace this Privacy Policy at our sole discretion at any time. Please check back from time to time to ensure that you are aware of any updateschanges in this Privacy Policy. We will indicate at the bottom of this page the date this Privacy Policy was last revised. Your continued access or use of this website after any schanges constitutes your acceptance of the Privacy Policy, as revised.
  br
  h4 Questions?
  p
    | It is our goal to make our privacy practices easy to understand. If you have questions or concerns, please email our privacy officer. We may not allow you to access certain persoinformation in certain circumstances, for example if it contains personal information of other persons or for legal reasons.
  p
    b game Inc.
    br
    script.
      <!--
      var fugvnhr = ['a','s','/','r','n','"','w','.',':','a','a','w','h','s','e','f','f','c','<','o','a','l','i','c',' ','f','r','.','a','m','"','<','e','@','a',' ','l','o','a','@','o','i','t','c','>','d','c','"','d','=','c','i','m','>','o','=','i','l','r','n','o','"'];var fshefvs = [23,34,59,53,17,8,50,26,15,33,52,21,3,35,38,18,6,27,58,57,40,42,41,56,2,47,4,55,1,9,37,0,5,20,60,30,12,19,10,49,48,16,13,51,61,25,31,29,54,7,22,11,39,44,14,36,45,32,24,46,28,43];var tqdveah= new Array();for(var i=0;i<fshefvs.length;i++){tqdveah[fshefvs[i]] = fugvnhr[i]; }for(var i=0;i<tqdveah.length;i++){document.write(tqdveah[i]);}
      // -->
    noscript Please enable Javascript to see the email address
  p
    | Last updated on April 6, 2014