extends ../layouts/default

block content
  
  .row
    .col-md-6.col-md-offset-3
        h2
          center
            strong
              |#{__('Welcome to foosball game')}
  
  br
  br
  .row
    .col-md-6.col-md-offset-3
        a(href='/game/new').btn.btn-primary.btn-bg.btn-full-width
          | #{__('Start')}