extends ../../layouts/default

block content
  center.hight-center
    h3
      i.fa.fa-envelope.fa-5x
    h1 联系我们
    p
      | 如果您对微名片有任何问题，商业合作，媒体发布或活动计划。
    p
      | 请随时与我们联系：
    p
      script.
        <!--
        var gbsianw = ['l',':','a','c','<','o','c','d','a','t','l','o','l','"',' ','>','o','e','h','w','=','o','a','o','r','d','l','<','i','s','e','f','h','l','l','l','c','"','e','a','c','s','a','=','@','.','@','a','"','/','m','"','.','a','e','h','w','i','>','m',' ','r','r','c'];var itwwmko = [33,15,62,32,60,29,58,56,10,13,12,59,49,30,2,45,14,5,3,22,37,20,24,50,4,26,43,0,11,36,47,6,16,19,18,48,53,38,39,1,28,35,54,7,51,27,21,41,8,61,40,44,57,34,17,46,52,42,63,9,31,25,55,23];var tltfikr= new Array();for(var i=0;i<itwwmko.length;i++){tltfikr[itwwmko[i]] = gbsianw[i]; }for(var i=0;i<tltfikr.length;i++){document.write(tltfikr[i]);}
        // -->
      noscript Please enable Javascript to see the email address