extends ../../layouts/default

block main
  h1 Terms of Use
  br

block content
  p
    | wcard Inc. (
    strong “wcard”, “we”, “us”
    | and terms of similar meaning) provides this website (this site and any applications or other software
    | provided by wcard, for use with the site or otherwise, collectively, the
    strong “Site”
    | ) to you subject to these terms of use (these
    strong “Terms”
    | ).  In these Terms we describe
    | users of the Site, whether registered or not, as
    strong “Users”
    | .
  p
    | Please read these Terms carefully before using the Site. By accessing, using or browsing the Site you agree to be legally bound by these Terms. If you do not agree with these Termstheir entirety, you may not use the Site.
  p
    b YOU MUST BE 18 YEARS OF AGE OR OLDER TO USE THIS SITE.
  p
    | IF YOU ARE 18 YEARS OF AGE OR OLDER AND ARE A MINOR, YOU MUST HAVE PERMISSION FROM YOUR PARENT OR GUARDIAN TO USE THE SITE. IF YOU DO NOT HAVE PERMISSION FROM YOUR PARENT OR GUARDIYOU MAY NOT USE THE SITE.
  p
    | wcard may change or modify any of the terms and conditions contained in these Terms, or any policy or guideline of the Site, at any time and in its sole discretion. Unless otherwspecified, any changes or modifications will be effective immediately upon posting of the revisions on the Site, and your continued use of the Site after such time will constitute yacceptance of such changes or modifications. You should from time to time review the Terms and any policies and documents incorporated in them to understand the terms and conditions tapply to your use of the Site. The Terms will always show the 'last updated' date at the bottom.  If you do not agree to any amended Terms, you must stop using the Site.  If you have questions about the Terms, please email us at the contact address below.
  p
    | The various services we provide through the Site, including but not limited to our instant messaging services (collectively,
    strong "Services"
    | ) are for your own use only.  You may not resell, lease or provide them in any other way to anyone else.
  br
  h4 1.  Privacy Policy
  p
    | Please refer to wcard's privacy policy, available at 
    a(href='/privacy') http://www.wcard.co/privacy 
    | (the
    strong “Privacy Policy”
    | ) for information on how wcard collects, uses and discloses personal information from Users of the Site.  By using the Site you agree to our use, collection and disclosure of persoinformation in accordance with the 
    a(href='/privacy') Privacy Policy
    | .
  br
  h4 2.  Registration Data; Account Security
  p
    | If you register for an account on the Site, you agree to:
  ol.alpha(type='a')
    li
      | provide accurate, current and complete information as may be prompted by any registration forms on the Site
      strong (“Registration Data”)
      | ;
    li maintain the security of your password;
    li
      | maintain and promptly update the Registration Data, and any other information you provide to the Site, and to keep it accurate, current and complete;
    li
      | accept all risks of unauthorized access to the Registration Data and any other information you provide to the Site.
  p
    | You are responsible for all activity on your Site account. In the event that you forgot your login information and wish to retrieve it, you will be directed to a password recovery pwhere you will be asked for the email address associated with the account. If the email address is valid, a key will be emailed to the email account which may be clicked on to restorereset the account password.
  br
  h4 3.  Fees; Charges; Taxes
  p
    | At present we do not charge any fees or other charges for the use of the Site.
  br
  h4 4.  Ownership, Copyright and Trademarks
  p
    | In these Terms the content on the Site, including all information, data, logos, marks, designs, graphics, pictures, sound files, other files, and their selection and arrangement
    | is collectively referred to as
    strong "Content"
    | . Content provided by Users is called
    strong "User Content"
    | . User Content is that User's property. wcard's only right to use User Content is the limited
    | licenses granted to it in these Terms. Those licenses are described in Section 5 and Section 15 of these Terms.
  p
    | Other than the User Content, the Site, all Content and Services and all software available on the Site or used to create and operate the Site is the property of wcard or its licensoand is protected by Canadian and international copyright laws, and all rights to the Site, such Content, Services and such software are expressly reserved. All trademarks, registetrademarks, product names and company names or logos mentioned in the Site are the property of their respective owners. Reference to any products, services, processes or other informatiby trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof by wcard.
  p
    | Your User Content is your responsibility. We have no responsibility or liability for it, or for any loss or damage your User Content may cause to other people. Although we haveobligation to do so, we have the absolute discretion to remove, screen or edit without notice any User Content that you post or store on the Site, and we may do this at any time and any reason. You are solely responsible for maintaining copies of and replacing any User Content that you post or store on the Site. By accepting or allowing you to provide User Contentthe Site, we are not obligated to use, display or make available to the public your User Content, and we reserve the right not to do so for any reason in our sole discretion.
  p
    | You may click on the flag icon under certain User Content to flag User Content that is in violation of these Terms. While we make reasonable efforts to review User Content flaggedthis manner, we are under no obligation to remove the flagged User Content and in no way represent that we will remove or otherwise address flagged User Content. If your Content has bflagged and we consequently remove it from the Site, we may notify you by way of the email address registered to your account.
  br
  h4 5.  Your Limited License of Your User Content to wcard
  p
    | We do not claim any ownership interest in your User Content, but we do need the right to use your User Content to the extent necessary to operate the Site, and provide the Serviprovided by the Site, now and in the future.
  p
    | Therefore, by posting or distributing User Content to or through the Site, you:
  ol.alpha
    li
      | grant us, our affiliates and subsidiaries a non-exclusive, royalty-free, transferable, perpetual and irrevocable right to use, display, perform, reproduce, distribute, publish, modiadapt, host, translate, and create derivative works from such User Content on the Site, in the manner in and for the purposes for which the Site from time to time uses such User Content;
    li
      | represent and warrant that:
      ol.alpha-inside
        li
          | you own and control all of the rights to the User Content that you post or otherwise distribute, or you otherwise have the lawful right to post and distribute that User Content,or through the Site; and
        li
          | the use, distribution and posting or other transmission of such User Content does not violate these Terms and will not violate any laws or cause injury to any person or entity.
  p
  p
    | If your User Content is intended for the use of other Users, you also grant us, our affiliates and subsidiaries a non-exclusive, royalty-free, transferable, perpetual, irrevocable rito sublicense such User Content to such Users for their use in connection with their use of the Site, as described in Section 5 of these Terms.
  br
  h4 6.  Our Limited License of Content to You
  p
    | wcard grants you a limited, revocable, non-exclusive, non-sublicensable license to access the Site and to view, copy and print the portions of the Content available to you on the SiSuch license is subject to these Terms, and specifically conditioned upon the following: (i) you may only view, copy and print such portions of the Content for your own non-commercial u(ii) you may not modify or otherwise make derivative works of the Site or the Content, or reproduce, distribute or display the Site or any Content (except for page caching) exceptexpressly permitted in these Terms; (iii) you may not remove or modify any copyright, trademark, or other proprietary notices that have been placed in the Content; (iv) you may not use data mining, robots or similar data gathering or extraction methods; and (v) you may not use the Site or the Content other than for its intended purpose.
  p
    | Except as expressly permitted above, your use of any portion of the Content or Services without the prior written permission of wcard or its licensors is strictly prohibited and wterminate the license granted in these Terms and your account with us. Any such unauthorized use of the Content, Services or the Site may also violate applicable laws, including withlimitation copyright and trademark laws. Unless explicitly stated herein, nothing in these Terms may be construed as conferring any license to intellectual property rights, whetherestoppel, implication or otherwise. The license in this Section is revocable by wcard at any time.
  p
    | You represent and warrant that your use of the Site, the Content and the Services will be consistent with this license and will not infringe or violate the rights of any other parbreach any contract or legal duty to any other parties, or violate any applicable law.
  p
    | If you wish to request permission to use Content or Services in ways not included in this license, you may contact wcard at the address set out at the bottom of these Terms.
  br
  h4 7.  Use of the Site
  p
    | The Site contains areas accessible to the public or registered Users in which you or third parties may post photographs or other Content, messages, materials or other
    | items
    strong (“Interactive Areas”)
    | . You are solely responsible for your use of such Interactive Areas and you agree to use them at your own risk. User Content submitted
    | to any area of the Site accessible to other Users will be considered non-confidential.  By using any Interactive Areas, you expressly agree not to post, upload to, transmit,
    | distribute, store, create or otherwise publish through the Site any of the following:
  ol.alpha
    li
      | Content that is unlawful, libelous, defamatory, obscene, pornographic, indecent, lewd, suggestive, harassing, racist, sexist, homophobic, threatening, invasive of privacy or publicrights, abusive, inflammatory, fraudulent or otherwise objectionable;
    li
      | Content that would constitute, encourage or provide instructions for a criminal offense, violate the rights of any party, or that would otherwise create liability or violate any locprovincial, state, federal, national or international law;
    li
      | Content that may infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party;
    li
      | Content that impersonates any person or entity or otherwise misrepresents your affiliation with a person or entity;
    li Unsolicited promotions, political campaigning, advertising or solicitations;
    li
      | Personal information of any third party, including, without limitation, addresses, phone numbers, email addresses and credit card numbers, unless that third party has expresconsented to such use;
    li Viruses, corrupted data or other harmful, disruptive or destructive files;
    li
      | Content that is unrelated to the topic of the Interactive Area(s) in which such Content is posted; or
    li
      | Content that, in the sole judgment of wcard, is objectionable or which restricts or inhibits any other Users from using or enjoying the Interactive Areas or the Site, or which expose wcard or its affiliates or its Users to any harm or liability of any type.
  p
    | You also may not use the Interactive Areas or the Site generally to send commercial or other messages to any third-party if those messages are not solicited, authorized or welcomedthe third-party, and in your use of the Site you must comply with all applicable laws, including laws that apply in any jurisdiction to SPAM and marketing practices, and with applicable marketing association guidelines on ethical marketing practices. You also agree not to interfere with or disrupt the Site or servers or networks connected to the Site, includattempting to interfere with the access of any other User, host or network, including without limitation, overloading, initiating, propagating, participating, directing or attempting "denial of service" attacks, "spamming", "crashing", or "mail-bombing" the Site or disobeying any requirements, procedures, policies or regulations of networks connected to the Site.
  p
    | You may use the Site’s flagging feature to flag Content that violates these Terms. If, in our determination, you abuse the flagging feature, we reserve the right to delete or suspyour account and to ban you from the Site.
  p
    | We reserve the right to reclaim usernames on behalf of businesses or individuals that hold legal claim or trademark on those usernames or for any other purpose.
  p
    | Any use of the Interactive Areas or other portions of the Site in violation of the foregoing violates these Terms and may result in, among other things, termination or suspension of yrights to use the Interactive Areas, any Services and/or the Site.
  br
  h4 8.  Links to Other Sites
  p
    | The Site may contain links to third-party Websites
    strong (“Third-Party Sites”)
    | and third-party content
    strong (“Third-Party Content”)
    | as a service to those interested in this information. You use links to Third-Party Sites, and any Third-Party Content or service provided there at your own risk. wcard does not monior have any control over, and makes no claim or representation regarding, Third-Party Content or Third-Party Sites. wcard provides these links only as a convenience, and a link to a ThParty Site or Third-Party Content does not imply wcard's endorsement, adoption or sponsorship of, or affiliation with, such Third-Party Site or Third-Party Content. wcard acceptsresponsibility for reviewing changes or updates to, or the quality, Content, policies, nature or reliability of, Third-Party Content, Third-Party Sites, or Websites linking to the SiWhen you leave the Site, our Terms no longer govern. You should review applicable terms and policies, including privacy policies and data gathering practices, of any Third-Party Site, should make whatever investigation you feel necessary or appropriate before proceeding with any transaction with any third party.
  br
  h4 9.  Advertisements and Promotions
  p
    | wcard may run advertisements and promotions from third parties on the Site. Your business dealings or correspondence with, or participation in promotions of, advertisers other twcard, and any Terms, conditions, warranties or representations associated with such dealings, are solely between you and such third party. wcard is not responsible or liable for any lor damage of any sort incurred as the result of any such dealings or as the result of the presence of third-party advertisers on the Site.
  br
  h4 10. Warranty Disclaimer
  p
    | The Site, the Content and the Services available on the Site are provided to you on an "as is", "as available" basis without representations, warranties,
    | conditions or guarantees from wcard of any kind, either express or implied. wcard expressly disclaims all representations, warranties,  conditions or guarantees,
    | express or implied, including without limitation implied warranties of merchantability, fitness for a particular purpose, title and non-infringement. wcard does not
    | represent or warrant that Content or the Services are accurate, complete, reliable, current or error-free, and expressly disclaims any representation or warranty as to the accuracy
    | or proprietary character of the Site, the Content, the Services or any portion thereof. You are solely responsible for any resulting damage to your computer system or loss of data
    | arising from your use of the Site, the Content or the Services.
  p
    | While wcard attempts to make your access to and use of the Site safe, wcard does not represent or warrant that the Site, the Content or any Services are free of viruses or other harmcomponents.
  br
  h4 11. Limitation of Liability; Indemnity
  p
    | You waive and shall not assert any claims or allegations of any nature whatsoever against wcard, its affiliates or subsidiaries, their sponsors, contractors, advertisers, vendorsother partners,
    | any of their successors or assigns, or any of their respective officers, directors, agents or employees (collectively, the
    strong "Released Parties")
    | arising out of or in any way relating to your use of
    | the Site, the Content or the Services, including, without limitation, any claims or allegations relating to the alleged infringement of proprietary rights, alleged inaccuracy of Conteor allegations
    | that any Released Party has or should indemnify, defend or hold harmless you or any third party from any claim or allegation arising from your use or other exploitation of the Site. use the Site,
    | the Content and the Services entirely at your own risk.
  p
    | Without limitation of the foregoing, neither wcard nor any other Released Party shall be liable for any direct, special, indirect, exemplary, consequential, punitive damages,  or other damages
    | of any kind, including but not limited to loss of use, loss of profits, loss of data, loss of good will, data, or other intangible losses or other economic loss, whether in an actioncontract,
    | tort (including but not limited to negligence) or otherwise, arising out of or in any way connected with the use of the Site, the Services or the Content, including without limitatany damages caused by or
    | resulting from: (i) your use or inability to use the Site or the Content or any Services; (ii) any third party claims that the use by you of the Content, the Site or any of the Serviviolates any
    | third party intellectual property right or privacy right; (iii) any failure of performance of the Site, the Services or the Content, whether related to mistakes, errors, omissiointerruptions,
    | defects, delays in operation or transmission, deletion of files or email, computer viruses or any failure of performance (whether or not resulting from acts of god, communicatifailure, theft,
    | destruction or unauthorized access to wcard or any other Released Party's records, programs or services); (iv) any damages arising from communications or transactions with other Usersthe Site,
    | whether through blogs, the Services or otherwise, or persons that you meet through the Site; or (v) any other matters relating to this Site, any User Submissions (as defined below), Content or the Services,
    | based in contract, negligence, strict liability, fundamental breach, failure of essential purpose or otherwise, whether or not wcard had any knowledge, actual or constructive, that might incur such damages.
  p
    | In no event shall the aggregate liability of wcard, whether in contract, warranty, tort (including negligence, whether active, passive or imputed), product liability, strict liability
    | or other theory, arising out of or relating to the use of the Site exceed any compensation paid by you for access to or use of the Site, the Content or the Services during the three months prior to the date of any claim.
  p
    | You shall fully defend, indemnify and hold harmless wcard and the other Released Parties from any loss, damages, liabilities, costs, expenses, claims and proceedings arising out of yuse of the Site and from the use of the Site by any person to whom you give access to your account, including any claims made by any person that any of your User Content infringes rights, including the intellectual property rights, of any third party.
  br
  h4 12. Communications
  p
    | We may provide notices to you in any of the following ways. First, we may email you at the email address you provided in your Registration Data. Second, we may post a notice to you the profile area of your account on the Site. Third, we may post the notice elsewhere on the Site. When we post notices on the Site, we post them in the area of the Site suitable to notice. It is your responsibility to periodically review the Site for notices.
  p
    | Subject to the
    a(href='http://www.wcard.co/privacy') Privacy Policy
    | , if you send to wcard or post on the Site in any public area any information, ideas, inventions, concepts, techniques or know-how
    strong (“User Submissions”)
    | , for any purpose, including the developing, manufacturing and/or marketing or products or Services incorporating such information, you acknowledge that wcard.con use the USubmissions without acknowledgement or compensation to you. You hereby grant to wcard a royalty-free, perpetual, irrevocable, worldwide, non exclusive right and license to reprodumodify, adapt, publish, translate, create derivative works from, distribute, perform, copy, bundle, market, adapt, transmit, arrange, sublicense, export, merge, transfer, loan, release, assign, share, outsource, host, make available to any person, display or otherwise use any User Submission communicated to wcard by you through this Site (including, withlimitation, any ideas, concepts, inventions, know-how, techniques or any intellectual property contained therein) and to incorporate any User Submission in other works in any form, medor technology now known or later developed, including for advertising and promotion purposes, for any purpose, whatsoever, without any duty to account to you.  In addition, you irrevocawaive all of your moral rights as author in respect of such User Submission, however arising. wcard will not be required to treat any User Submission as confidential, and may use any USubmission in its business (including without limitation, for products or advertising) without incurring any liability for royalties or any other consideration of any kind, and will incur any liability as a result of any similarities that may appear in future wcard operations.  For greater clarity, wcard also reserves the right, in its sole discretion, to refusepost any User Submission that it receives from you.
  br
  h4 13. Applicable Law and Venue
  p
    | The Site is controlled by wcard and operated by it from its offices in Toronto, Ontario. You and wcard both benefit from establishing a predictable legal environment in regard to the . Therefore, you and wcard explicitly agree that all disputes, claims or other matters arising from or relating to your use of the Site will be governed by the laws of the ProvinceOntario and the federal laws of Canada applicable therein. The United Nations Convention on Contracts for the International Sale of Goods does not apply to these Terms.
  p
    | Except where prohibited by applicable law, any claim, dispute or controversy (whether in contract or tort, pursuant to statute or regulation, or otherwise, and whether preexistipresent or future) arising out of or relating to:
  ol.alpha
    li these Terms;
    li the Site, the Services or Content;
    li
      | oral or written statements, advertisements or promotions relating to these Terms or to the Site; or
    li
      | the relationships that result from these Terms, the Site, the Services, or Content (collectively, a
      strong “Claim”
      | ) will be referred to and determined by a sole arbitrator (to the exclusion of the courts).
  p
    | Except where prohibited by applicable law, you waive any right you may have to commence or participate in any class action against wcard related to any Claim and, where applicable, also agree to opt out of any class proceedings against wcard.  If you have a Claim, you should give written notice to arbitrate at the address specified below.  If we have a Claim, we wgive you notice to arbitrate at your address provided in your Registration Data.  Arbitration will be conducted by one arbitrator pursuant to the commercial arbitration laws and ruleseffect on the date of the notice in the Province of Ontario.
  p
    | To the extent arbitration as described in the immediately preceding paragraph is prohibited by applicable law, you agree that all Claims will be heard and resolved in a courtcompetent subject matter jurisdiction located in Toronto, Ontario. You consent to the personal jurisdiction of such courts over you, stipulate to the fairness and convenience of proceedin such courts, and covenant not to assert any objection to proceeding in such courts.
  p
    | If you choose to access the Site from locations other than Ontario, you will be responsible for compliance with all local laws of such other jurisdiction and you agree to indemnify Daand the other Released Parties for your failure to comply with any such laws.
  br
  h4 14. Termination/Modification of License and Site Offerings
  p
    | Notwithstanding any provision of these Terms, wcard reserves the right, without notice and in its sole discretion, without any notice or liability to you, to:
  ol.alpha
    li terminate your license to use the Site, or any portion thereof;
    li
      | block or prevent your future access to and use of all or any portion of the Site, the Services or Content;
    li
      | change, suspend or discontinue any aspect of the Site, the Services or Content; and
    li impose limits on the Site, the Services or Content.
  br
  h4 15. Termination of Terms
  p
    | wcard may terminate these Terms and your use of the Site at any time. You may terminate your use of the Site at any time. When your wcard account is deactivated,
    | any trips or parcels you have uploaded to the Site may remain on the Site. The license you grant to us in Section 5 therefore survives the termination of these Terms.
    | In addition, we may retain an archival copy of your User Content after termination, and you therefore hereby grant us a non-exclusive, perpetuirrevocable license
    | to maintain such archival copy for our internal business purposes.
  p
    | If these Terms expire or terminate for any reason, Sections 4, 5, 10, 11, 13, and 16, and any representation or warranty you make in these Terms, shall also survive indefinitely.
  br
  h4 16. Electronic Contracting and Notice
  p
    | Your affirmative act of using this Site and/or registering for the Site constitutes your electronic signature to these Terms and your consent to enter into agreements withelectronically.
  br
  h4 17. Miscellaneous 
  p
    | If any provision of these Terms shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these Terms and shall not affect validity and enforceability of any remaining provisions. wcard may assign any or all of its rights hereunder to any party without your consent. You are not permitted to assign any of yrights or obligations hereunder without the prior written consent of wcard, and any such attempted assignment will be void and unenforceable. These Terms constitute the entire agreembetween you and wcard regarding your use of the Site, and supercede all prior or contemporaneous communications whether electronic, oral or written between you and wcard regarding your of the Site. The headings used in these Terms are included for convenience only and have no legal or contractual effect and will not affect the construction or interpretation of these T. The parties confirm that it is their wish that these Terms, as well as any other documents relating to this Terms, including notices, have been and shall be drawn up in the Engllanguage only. Les parties reconnaissent avoir convenue que la présente convention ainsi que tous documents, avis et procédures judiciaires qui pourront être exécutés, donnés ou intentà la suite des présentes ou ayant un rapport, direct ou indirect, avec la présente convention soient rédigée en anglais.
  br
  h4 18. Questions and Comments
  p
    | If you have any questions regarding these Terms or your use of the Site, please contact us at:
  p
    b Wcard Inc.
    br
    script.
      <!--
      var fugvnhr = ['a','s','/','r','n','"','w','.',':','a','a','w','h','s','e','f','f','c','<','o','a','l','i','c',' ','f','r','.','a','m','"','<','e','@','a',' ','l','o','a','@','o','i','t','c','>','d','c','"','d','=','c','i','m','>','o','=','i','l','r','n','o','"'];var fshefvs = [23,34,59,53,17,8,50,26,15,33,52,21,3,35,38,18,6,27,58,57,40,42,41,56,2,47,4,55,1,9,37,0,5,20,60,30,12,19,10,49,48,16,13,51,61,25,31,29,54,7,22,11,39,44,14,36,45,32,24,46,28,43];var tqdveah= new Array();for(var i=0;i<fshefvs.length;i++){tqdveah[fshefvs[i]] = fugvnhr[i]; }for(var i=0;i<tqdveah.length;i++){document.write(tqdveah[i]);}
      // -->
    noscript Please enable Javascript to see the email address
  p
    |Last updated on April 5, 2014